.course-card-main {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 4px solid #AC2B37;
  animation: riseIn 0.6s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.course-card-top {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  align-items: center;
}

.course-card-title {
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 2.75rem;
  font-weight: 500;
}

.course-card-grade {
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 2.75rem;
  font-weight: 600;
}

.course-card-middle {
  flex: 1;
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 1.5rem;
  font-weight: 450;
  overflow-y: scroll;
}

.course-card-bottom {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.course-card-arrows {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.course-card-progress {
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 2.5rem;
  font-weight: 600;
}

.course-card-prev {
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 3rem;
  font-weight: 600;
}

.course-card-next {
  color: #AC2B37;
  font-family: var(--font-inter);
  font-size: 3rem;
  font-weight: 600;
}

.course-card-middle ul li {
  margin-bottom: 1rem;
}

.course-card-clickable {
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.25s ease;
}

.course-card-clickable:hover {
  transform: scale(1.05);
}

.course-card-clickable:active {
  transform: scale(0.96);
}

@keyframes riseIn {
  0% {
    transform: translateY(12px);
  }
  100% {
    transform: translateX(0);
  }
}